body {
    box-sizing: border-box;
}

.home {
    height: 100vh;
    width: 100vw;
}

.fleets {
    display: none;
    height: 100vh;
    width: 100vw;
}
.vehicles {
    display: none;
    /* visibility: brown; */
    height: 100vh;
    width: 100vw;
}

.back-hidden{
    display: none;
}

.back-shown {
    display: inline-block;
    
}
.page{
    padding: 50px;
}

.back-div {
    margin: 20px 50px;
}